.card {
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

  transition: 0.3s;
  width: 40%;
  margin: 20px;

  height: max-content;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2vw;
}

.cardName {
  padding: 20px;
}