.navigation {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  height: 6vh;
  width: 100%;
  color: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: space-around;

  transition: 0.2s;
}

.background-stable {
  position: fixed;
  height: 6vh;
  width: 100%;
  transition: 0.2s;
  z-index: 9999;
}

.background-active {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  height: 6vh;

  transition: 0.2s;
}