.card {
  background-color: white;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;

  transition: 0.3s;
  margin: 20px;

  height: max-content;
  border-radius: 5px;

  clip-path: inset(0px 0px 0px 5px round 5px 20px);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  padding: 20px;
  max-width: 650px;
  color: black;
  /* background: whitesmoke; */
}

.container-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  row-gap: 10px;
}

.starContainer {
  display: flex;
  column-gap: 5px;
}

.starGold {
  height: 2vh;
  color: gold;
}