* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --bs-light-rgb: none;
  --bs-navbar-toggler-border-color: none;
}

.navbar {
  position: fixed !important;
  z-index: 777 !important;

  border: none;

  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  height: 6vh;

  transition: all 0.2s ease-out;

  --bs-navbar-color: whitesmoke;
  --bs-navbar-active-color: white;

}

.offcanvas {
  --bs-offcanvas-bg: none !important;
  --bs-navbar-color: black;
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(200%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(200%);
}

.navbar-expand-md {
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.navbar-expand-md .navbar-nav {
  flex-direction: row;
  justify-content: space-around !important;
  --bs-nav-link-font-weight: 200;
  --bs-body-font-family: 'Montserrat', sans-serif !important;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

  font-family: 'Lora', serif;
}

p {
  font-family: 'Lora', serif;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none !important;
  --bs-link-color: whitesmoke;
  --bs-link-hover-color: white;
}

form {
  font-family: 'Lora', serif;
}

button, .btn-primary {
  --bs-btn-bg: #023020;
  --bs-btn-border-color: black;
}

section {
  height: 100%;
  padding: 50px 0;
}

ul {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

h1,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

input,
textarea {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 25px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  section {
    height: 100%;
    padding: 50px 0;
  }
}