.heroImage {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage > img {
  height: 100vh !important;
  object-fit: cover;
  filter: brightness(0.8) !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100vh;
  color: whitesmoke;
  border: 1.5px solid whitesmoke;
  width: 85vw;
  height: 55vh;
  backdrop-filter: blur(5px);
}